<!-- incluimos el header html -->
<%- include("partials/header") %>

<div class="container" style="text-align:center">
	<h1>Esta es la Landing Page!</h1>
	<a href="/campgrounds">Look for all the campgrounds</a>
</div>	
	
<!-- incluimos el footer html -->
<%- include("partials/footer") %>