<!-- incluimos el header html -->
<%- include("./partials/header") %>

<h1>
	Login User
</h1>

<form actiion="/login" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Login"> 
</form>


<!-- incluimos el footer html -->
<%- include("./partials/footer") %>